/* RESETEO CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

section div div div img {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%; }

/* FORMULARIO DE CONTACTOS */
form div {
  padding-left: 25%;
  padding-right: 25%; }

.col-sm-11 {
  padding-left: 45%;
  padding-right: 50%;
  padding-bottom: 5%; }

.btn-primary {
  background-color: #e759eb;
  color: black; }

.btn-primary:hover {
  color: black;
  background-color: #e759eb; }

/* MENU BOOTSTRAP */
section nav {
  background-image: linear-gradient(320deg, #e759eb 0%, #B8E7EA 20%); }
  section nav div a {
    color: #e759eb; }
    section nav div a img {
      width: 100%;
      padding: 2%; }

/* GRIDS PRODUCTOS */
.grillaProd {
  display: grid;
  grid-template-areas: "imagen  nombreProducto " "imagen        precio" "imagen         cuotas" "imagen    mediosPago" "imagen   descripcion" "imagen       carrito";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr 0fr 0fr 0fr 2fr 0fr;
  grid-column-gap: 5px;
  grid-row-gap: 15px; }

#nombreProducto {
  grid-area: nombreProducto;
  color: #e759eb;
  font-size: 1rem;
  margin-top: 5%;
  margin-right: 25%; }

#precio {
  grid-area: precio;
  background-color: #e759eb;
  color: black;
  font-size: 3rem;
  padding: 5px;
  margin-right: 85%;
  text-align: center; }

#cuotas {
  grid-area: cuotas;
  background-color: #B8E7EA;
  color: black;
  padding: 5px;
  margin-right: 60%;
  text-align: center; }

#mediosPago {
  grid-area: mediosPago;
  background-color: #e759eb;
  border: solid 1px  black;
  color: black;
  padding: 5px;
  margin-right: 80%;
  text-align: center; }

#descripcion {
  grid-area: descripcion;
  background-color: #B8E7EA;
  color: black;
  font-size: 1.2rem;
  padding: 5px;
  margin-right: 25%;
  text-align: left; }

#carrito {
  grid-area: carrito;
  background-color: #e759eb;
  color: black;
  border: solid 1px black;
  font-size: 2rem;
  padding: 5px;
  margin-bottom: 5%;
  margin-right: 25%;
  text-align: center; }

aside {
  grid-area: imagen; }

aside img {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 5%; }

/* ESTILOS ELEMENTOS */
.ocultar {
  display: none; }

a {
  text-decoration: none;
  color: black; }

body {
  background-color: #765BD5;
  font-family: "Oswald", sans-serif; }

/* CONTENIDO */
.productos {
  list-style-type: none; }

.productos__img {
  width: 200px;
  height: 300px;
  border-radius: 1px;
  border: solid 1px black;
  margin-left: 5%;
  margin-bottom: 5%; }

.productos__li {
  display: inline-block;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%; }

div {
  width: 100%;
  margin: 0;
  padding: 0; }
  div h2 {
    background-color: #e759eb;
    color: black;
    text-align: center;
    margin-bottom: 2%;
    padding: 0;
    font-size: 3em; }

ul {
  list-style: none;
  padding-left: 0%; }
  ul li a {
    color: black;
    text-decoration: none; }
  ul li p {
    text-align: center;
    background-color: #e759eb;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 1%; }
  ul li p:hover {
    color: #765BD5; }

/* FOOTER */
.grillaAreas {
  display: grid;
  grid-template-areas: "pie pie pie";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10%;
  grid-row-gap: 0px; }

.footer {
  grid-area: pie;
  background-image: linear-gradient(320deg, #e759eb 0%, #B8E7EA 20%);
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  width: 100%; }

.footerRow1 {
  display: flex; }
  .footerRow1 img {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 15%; }

.footerRow2 {
  display: flex; }
  .footerRow2 img {
    padding-top: 5%;
    padding-bottom: 9%;
    width: 15%; }

.footer__div {
  margin-left: 25%;
  margin-right: 75%; }

.footer__h4 {
  font-size: 18px;
  background-color: #e759eb;
  color: black;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%; }

.footer__a {
  display: flex;
  flex-direction: row;
  color: black;
  text-align: center;
  padding: 2%; }

.footer__a:hover {
  color: #e759eb; }

/*DESKTOP*/
/*TABLET*/
@media (min-width: 577px) and (max-width: 991px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  body {
    background-color: #765BD5;
    font-family: "Oswald", sans-serif; }
  /* CONTENIDO */
  .productos {
    list-style-type: none; }
  .productos__img {
    width: 200px;
    height: 300px;
    border-radius: 1px;
    border: solid 1px black;
    margin-bottom: 5%; }
  .productos__li {
    display: inline-block;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%; }
  div {
    width: 100%;
    margin: 0;
    padding: 0; }
    div h2 {
      background-color: #e759eb;
      color: black;
      text-align: center;
      margin-bottom: 2%;
      font-size: 3em; }
  ul {
    list-style: none;
    padding-left: 0%; }
    ul li a {
      color: black;
      text-decoration: none; }
    ul li p {
      text-align: center;
      background-color: #e759eb;
      margin-left: 5%;
      margin-bottom: 5%;
      padding: 1%; }
    ul li p:hover {
      color: #765BD5; }
  /* FOOTER */
  .grillaAreas {
    display: grid;
    grid-template-areas: "pie pie pie";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 0px; }
  .footer {
    grid-area: pie;
    background-image: linear-gradient(320deg, #e759eb 0%, #B8E7EA 20%);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    width: 100%; }
  .footerRow1 {
    display: flex; }
    .footerRow1 img {
      padding-top: 5%;
      padding-bottom: 5%;
      width: 20%; }
  .footerRow2 {
    display: flex; }
    .footerRow2 img {
      padding-top: 10%;
      padding-bottom: 9%;
      width: 20%; }
  .footer__div {
    margin-left: 30%;
    margin-right: 20%; }
  .footer__h4 {
    font-size: 18px;
    background-color: #e759eb;
    color: black;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%; }
  .footer__a {
    display: flex;
    flex-direction: row;
    color: black;
    text-align: center;
    padding: 1%; }
  .footer__a:hover {
    color: #e759eb; } }

/*SMARTPHONE*/
@media (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  body {
    background-color: #765BD5;
    font-family: "Oswald", sans-serif; }
  /* CONTENIDO */
  .productos {
    list-style-type: none; }
  .productos__img {
    width: 200px;
    height: 300px;
    border-radius: 1px;
    border: solid 1px black;
    margin-left: 5%;
    margin-bottom: 5%; }
  .productos__li {
    display: inline-block;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%; }
  div {
    width: 100%;
    margin: 0;
    padding: 0; }
    div h2 {
      background-color: #e759eb;
      color: black;
      text-align: center;
      margin-bottom: 2%;
      padding: 0;
      font-size: 3em; }
  ul {
    list-style: none;
    padding-left: 0%; }
    ul li a {
      color: black;
      text-decoration: none; }
    ul li p {
      text-align: center;
      background-color: #e759eb;
      margin-left: 10%;
      margin-bottom: 5%;
      padding: 1%; }
    ul li p:hover {
      color: #765BD5; }
  /* FOOTER */
  .grillaAreas {
    display: grid;
    grid-template-areas: "pie" "pie" "pie";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 0px; }
  .footer {
    grid-area: pie;
    background-image: linear-gradient(320deg, #e759eb 0%, #B8E7EA 20%);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    width: 100%; }
  .footerRow1 {
    display: flex; }
    .footerRow1 img {
      padding-top: 5%;
      padding-bottom: 5%;
      width: 15%;
      margin-left: 44%; }
  .footerRow2 {
    display: flex; }
    .footerRow2 img {
      padding-top: 5%;
      padding-bottom: 9%;
      width: 15%;
      margin-left: 44%; }
  .footer__div {
    margin-left: 29%;
    margin-right: 30%; }
  .footer__h4 {
    font-size: 18px;
    background-color: #e759eb;
    color: black;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%; }
  .footer__a {
    display: flex;
    flex-direction: row;
    color: black;
    text-align: center;
    padding: 2%; }
  .footer__a:hover {
    color: #e759eb; } }
