/* MENU BOOTSTRAP */


$color-primario: #765BD5;
$color-secundario: #e759eb;
$color-terciario: #B8E7EA;


section{
    nav{
        background-image: linear-gradient(320deg,  $color-secundario 0%, $color-terciario 20%);
        div{
            a{
                color: $color-secundario;
                img{
                    width: 100%;
                    padding: 2%;                    
                }
            }
        }
    }
}
